.logo {
    float: left;
    width: 120px;
    height: 31px;
    color: #fff;
}

.ant-picker-calendar-header {
    display: none;
}
.account-book-list-item {
    cursor: pointer;

}
.account-book-list-item:hover {
    opacity: 0.7;
}